layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:/home/selva/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode} #[fg=#89B4FA,bold]{session}"
                format_center "{tabs}"
                format_right  "{command_git_branch} {datetime}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal  "#[bg=blue,bold] N "
                mode_tmux    "#[bg=#ffc387,bold,fg=#6C7086] T "
                mode_locked  "#[bg=#ff0000,bold] L "
                mode_session "#[bg=#dceae8,bold,fg=#6C7086] S "
                mode_tab     "#[bg=#a6e3a1,italic,fg=#181825] {name} "
                mode_default_to_mode "tab"

                tab_normal   "#[fg=#6C7086] {name} "
                tab_active   "#[fg=#ffc387,bold,italic] {name} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Asia/Kolkata"
            }
        }
        children
    }
    tab name="nvim" focus=true {
        pane command="fish" {
            args "-c" "NVIM_APPNAME='nvim-custom' nvim"
        }
    }
    tab name="server"
    tab name="git" {
        pane command="lazygit" start_suspended=true
    }
    tab name="misc" {
        pane command="joshuto" start_suspended=true
    }
}
